<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="medium"></ion-icon>
    </button>
    <ion-title>Add &amp; Manage Accounts Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>Add Accounts</h5>
  <!-- <button ion-button (click)='testOpen()'>testOpen</button><br/> -->
  <div class="acct_type" *ngFor="let type of acctMngService.acctTypes">
     <acct-type [type]='type'>
      <ion-spinner name='circles'></ion-spinner>
    </acct-type>
  </div>

  <h5>Select Profiles to Manage</h5>
  <ion-list no-lines class="acct_list">
    <div *ngFor="let acct of acctMngService.acctList.account">
      <acct-profile 
        [acct]='acct' 
        [deleteCallback]='acctMngService.deleteProfile' 
        [refreshCallback]='acctMngService.refreshProfile' 
        >
        <ion-spinner name='circles'></ion-spinner>
      </acct-profile>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <button ion-button color='medium' outline (click)='sendHandler()'>Done</button>
  </ion-toolbar>
</ion-footer>