<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="medium"></ion-icon>
    </button>
    <ion-title>Add &amp; Manage Accounts Page</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <div *ngIf="data">

    <h5>Add Accounts</h5>
    <div class="acct_type" *ngFor="let type of data.acctTypes">
      <acct-type [type]='type'></acct-type>
    </div> 

     <h5>Select Profiles to Manage</h5>
    <ion-list no-lines class="acct_list">
      <div *ngFor="let acct of data.acctList.account">
        <acct-profile 
          [acct]='acct' 
          [deleteCallback]='acctMngService.deleteProfile' 
          [refreshCallback]='acctMngService.refreshProfile'>
        </acct-profile>
      </div>
    </ion-list> 

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <button ion-button color='medium' outline (click)='sendHandler()'>Done</button>
  </ion-toolbar>
</ion-footer>