change-pwd {
    p {
        color: color($colors, danger);
    }
    @-webkit-keyframes expand {
        0% {
            -webkit-opacity: 0;
        }
        75% {
            -webkit-opacity: .5;
        }
        100% {
            -webkit-opacity: 1;
        }
    }
    .expand {
        -webkit-animation: expand ease-in 1; 
        animation: expand ease-in 1;
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
    }
}